nav h3 {
  background-color: #3b3d19;
}
nav {
    background-color: rgb(145, 140, 96);
}
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../images/background-image.jpg");
/* Photo by Efdal YILDIZ from Pexels */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-pic {
  width: 150px;
}