nav h3 {
  background-color: #3b3d19;
}
nav {
    background-color: rgb(145, 140, 96);
}
body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../images/background-image.jpg");
/* Photo by Efdal YILDIZ from Pexels */
  /* Full height */


  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.profile-pic {
  width: 200px;
}

article div h2 {
  font-weight: 900;
  color: #3b3d19;
}

footer {
  background-color: #3b3d19;
}

footer p {
  color: rgb(145, 140, 96);
}